<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598136815123-m1movp1828uoohn99vp2ddujg0tjgnit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598136815123-m1movp1828uoohn99vp2ddujg0tjgnit</string>
	<key>API_KEY</key>
	<string>AIzaSyCvZSICUHMPDOqRqMpvU0W4QmFgwQJpIpk</string>
	<key>GCM_SENDER_ID</key>
	<string>598136815123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>ebycheon-tiktok-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>ebycheon-tiktok-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598136815123:ios:ab732969827504f7fc09e6</string>
</dict>
</plist>